<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163840488-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-163840488-1');
    </script>

    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cambo&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" media="all" href="./sheets.css">
    <link rel='shortcut icon' type='image/x-icon' href='favico.ico' />
</head>
<body>
    <h1>Math Practice!</h1>
    <h2>You're doing great.</h2>
    <aside>
           <h3>What is this?</h3>
           <p>This is a simple tool for creating basic arithmetic worksheets suitable for printing. It's intended to provide home-schooling families with an endless supply of arithmetic diversion. It was built by <a href="https://hoosteeno.com">hoosteeno</a>. You can <a href="https://github.com/hoosteeno/math_sheets">see the code here</a>. You can <a href="https://www.boulderfoodrescue.org/donate/?utm_source=math_sheets&utm_medium=referral">say "thanks" here.</a></p>
           <h3>How do I use it?</h3>
           <p>Use the configuration section below to set up the worksheet you want. Print it.</p>
    </aside>

    <div class="write-ins">
        <span class="write-in long">Name:</span>
        <span class="write-in">Date:</span>
        <span class="write-in">Score:</span>
    </div>

    <div id="problem-container">
        <form>
            <div class="controls">
                <div class="form-line">
                    <label for="digits">Number of digits</label>
                    <select v-model="digits" name="digits">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-line">
                    <input v-model="operator" type="radio" name="operator" value="+">Addition</input>
                    <input v-model="operator" type="radio" name="operator" value="-">Subtraction</input>
                    <input v-model="operator" type="radio" name="operator" value="x">Multiplication</input>
                    <input v-model="operator" type="radio" name="operator" value="÷">Division</input>
                </div>
                <div class="form-line">
                    <input v-model="showAnswers" type="checkbox" name="showAnswers">Show answers?</input>
                </div>
            </div>
            <button type="submit" name="print" onclick="printSheet()">Print</button>
        </form>
        <ol class="problems" v-bind:class="{ hide_answers: !showAnswers}">
            <problem-item inline-template v-for="item in problems" v-bind:problem="item" v-bind:key="item.id">
                <li class="problem">
                    <span class="number">{{ problem.topNum }}</span>
                    <span class="operator">{{ problem.operator }}</span>
                    <span class="number">{{ problem.bottomNum }}</span>
                    <span class="equals">=</span>
                    <span class="answer">{{ problem.answer }}</span>
                </li>
            </problem-item>
        </ul>
    </div>

<script src="sheets.js"></script>
</body>
</html>